body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #c5e3f7, #dfcafc);
}

h1 {
    font-size: 70px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    margin-right: 100px;
}

#quote {
    padding: 50px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    max-width: 500px;
    min-height: 170px;
    background-color: rgba(236, 236, 236, 0.5);
}

button {
    padding: 7px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: rgb(111, 114, 175);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

button:hover {
    transform: translateY(-15px);
    cursor: pointer;
    transform: scale(1.05);
    transition: background-color 0.2s;
    background-color: rgb(194, 195, 223);
    color: black;

}

.quoteButtons {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.quoteButtons button {
    padding: 15px;
}

.sizeButtons {
    padding-bottom: 10px;
}

.sizeButtons button {
    width: 30px;
}

.sizeButtons button:disabled {
    background-color: grey;
    cursor: not-allowed;
    transform: none;
}

#categories {
    background-color: rgb(111, 114, 175);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid grey;
}

.textRelated {
    display: flex;
    justify-content: center;
    gap: 300px;
}

.theme {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
    top: 7px;
}

.theme input {
    display: none;
}

.slider {
    position: absolute;
    background-color: #b5b3b3;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
}

.slider::before {
    content: '';
    position: absolute;
    /*knob size*/
    height: 18px;
    width: 18px;
    /*knob ko starting position*/
    left: 4px;
    bottom: 3px;
    /*knob ko color*/
    background-color: white;
    /*circle knob*/
    border-radius: 50%;
}

input:checked+.slider {
    background-color: rgb(0, 0, 0);
}

input:checked+.slider::before {
    transform: translateX(25px);
}

.dark {
    background: #2b2831;
    color: #eee;
}

.dark #quote {
    border-color: #555;
    background-color: rgba(76, 72, 72, 0.5);
}

.dark button {
    background-color: rgb(25, 25, 34);
    border: 1px solid black;
}

.dark #categories {
    background-color: rgb(25, 25, 34);
    border: 1px solid black;
}

@media (max-width: 768px) {

    h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 18px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .theme {
        top: 10px;
    }

    #quote {
        padding: 25px;
        margin: 20px;
        max-width: 90%;
        min-height: 200px;
    }

    .quoteButtons {
        gap: 40px;
        flex-wrap: wrap;
    }

    .quoteButtons button {
        padding: 12px;
        font-size: 16px;
    }

    .textRelated {
        gap: 200px;
        flex-wrap: wrap;
    }

    #categories {
        font-size: 15px;
        padding: 8px;

    }

    button {
        font-size: 16px;
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 16px;
        margin-right: 0px;
    }

    .theme {
        width: 55px;
        height: 30px;
    }

    .slider::before {
        content: '';
        position: absolute;
        /*knob size*/
        height: 22px;
        width: 22px;
        /*knob ko starting position*/
        left: 4px;
        bottom: 4px;
        /*knob ko color*/
        background-color: white;
        /*circle knob*/
        border-radius: 50%;
    }

    input:checked+.slider::before {
        transform: translateX(25px);
    }

    #quote {
        padding: 20px;
        min-height: 150px;
    }

    .quoteButtons {
        gap: 20px;
    }

    .textRelated {
        flex-direction: row;
        align-items: center;
        gap: 70px;
    }

    .sizeButtons button {
        margin-top: 10px;
        width: 34px;
    }
}